h4.modal-title{
      color: #4E342E;
      font-weight: bold;
  }

 .modal-footer a#closeBtn.btn:focus{
      color: #4E342E;
  }

  .responsiveCal {
       position: relative; 
       padding-bottom: 75%; 
       height: 0; 
       overflow: hidden;
   
   }
    
   .responsiveCal iframe {
      position: absolute; 
      top:5%; 
      left: 10%; 
      width: 80%; 
      height: 80%;
      
   }
    