<div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
               <h3>Как превратить кухонную повинность в радость и удовольствие?</h3>
                <p>Первое занятие кулинарной школы состоялось 20 июля 2011 года. Конечно, до этого шеф-повар 
                    проводил мастер-классы и для любителей готовить, и для профессионалов-поваров. 
                    Но они не были регулярными, а случались время от времени. Летом 2011 года мы решили, что пришло
                    время организовывать настоящую Кулинарную Школу Виктора Смирнова. 
                    Мы готовим совершенно необычную еду из совершенно обычных продуктов. У нас всегда вкусно, сытно и 
                    весело. Это хорошая энергетическая зарядка, ведь вкусная, с позитивом и любовью приготовленная еда,
                    объединяет. У нас уже есть свои традиции, например, совместный ужин сразу после мастер-класса. 
                    Часть ужина "положено" отнести своим домашним. День рождения школы принято отмечать 
                    барбекю-вечеринкой. Мы готовили кухня Луизианы и кухню Кореи, побывали в Испании, Греции, Тунисе, 
                    Марокко, Польше, Венгрии, Грузии, Турции, на Ближнем Востоке и Узбекистане. Мы делали сами пасту
                    ручной работы и виртуозно взбивали ингредиенты для домашнего мороженого, мы сами готовили специю
                    гарам-масала и встречали масленицу десятью видами блинов. Теперь мы с легкостью делаем торт
                     «Анна Павлова» и совершенно не боимся делать дрожжевое тесто. И самое главное – мы не перестаем
                      удивляться нашему Шефу! Как много он знает, как интересно рассказывает о продуктах, 
                      как он умеет завести публику и как тонко может раскатать тесто! 
                      А еще нам просто нравится делать это вместе. Ведь любое дело, которое воплощается в жизнь с 
                      любовью, обречено на успех и развитие!</p>
                
            </div>
            <div class="col-sm-4 text-center">
                <img src="photos/2.jpg" alt="salad" class="img-thumbnail img-responsive">
                <br><br>
                <button class="btn btn-default btn-lg myBtn" ng-click="toSchedule()">Узнать расписание</button>
            </div>
        </div>
    </div>

    <div class="container-fluid myBg">
        <div class="row">
            <div class="col-sm-4">
                <img src="photos/chief-1 - Copy.jpg" alt="salad" class="img-thumbnail img-responsive">
            </div>
            <div class="col-sm-8">
                <h3>Знакомьтесь, шеф-повар ресторана "Купеческий", Виктор Смирнов! </h3>
                Одна из наших участниц мастер-класса однажды написала: "Лично 
                    у меня часто возникает такое желание: хочется чего-то вкусненького. А чего – не знаю, просто – «чего-то 
                    вкусненького». Если забить в яндексе «что вкусненького приготовить», 
                    он выдаст массу вариантов, ведь на вкус и цвет товарищей нет. 
                    Советчиков много, и поскольку ответственности за то, что ты пишешь в интернете нет никакой, советовать может
                    любой, не обладающий никакими знаниями в области кулинарии человек... 
                    мастер-классы в Купеческом дают нам шанс приготовить то, что рекомендует человек с огромным 
                    кулинарным опытом, профессионал своего дела, которому можно доверять, приготовить это и понять
                     – нравится или нет, стоит приготовит это для близких, или же вкус Шефа не сошелся в предпочтениями
                      семьи. У нас также есть возможность вживую увидеть процесс приготовления, принять в нем
                       непосредственное участие, возможно ошибиться в приготовлении и под опытным руководством Шефа 
                       исправить допущенную ошибку. Интернет и кулинарные журналы никогда не дадут такой возможности.
                        Ведь никто не будет публиковать свои неудачные варианты, публикуются только красивые картинки.
                         И если у тебя, как у начинающего повара, что-то пошло не так, ведущий кулинарной передачи не 
                         скажет тебе, из-за чего возникла эта проблема и как ее решить, ведь у него-то есть куча
                          дублей, и все ошибки можно переснять. Здесь же у нас есть прекрасная возможность
                           получить драгоценный опыт человека, годами оттачивающего свое мастерство, 
                           человека увлеченного, можно сказать посвятившего себя кулинарии. 
                           Никакая кулинарная книга, никакая телевизионная передача или статья в интернете не заменит 
                           того, что мы получаем от мастер-классов" </p>
                           <br><br>
                           <div class="text-center">
                           <button class="btn btn-default btn-lg myBtn" ng-click="toSchedule()">Узнать расписание</button>
                           </div>
                        </div>
        </div>
    </div>
