<div class="container-fluid">
        <div class="text-center">
            <h2>Цены</h2>
        </div>
        <div class="row">
            <!--Price 1-->
            <div class="col-sm-4">
                <div class="panel text-center myPanel">
                    <div class="panel-heading">
                        <h1>Базовый курс-1</h1>
                    </div>
                    <div class="panel-body">
                        <p> Курс длительностью 2 месяца</p>
                        <p> Включает 8 занятий </p>
                        <p> По вторникам и пятницам с 18.00</p>
                        <p> Более 20 основных блюд </p>
                    </div>
                    <div class="panel-footer">
                        <h3>5000 рублей</h3>
                        <h4>за курс</h4>
                        <button class="btn btn-lg" ng-click="persist()">Записаться</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel myPanel text-center">
                    <div class="panel-heading">
                        <h1>Базовый курс-2</h1>
                    </div>
                    <div class="panel-body">
                        <p> Курс длительностью 4 месяца</p>
                        <p> Включает 20 занятий </p>
                        <p> По понедельникам и четвергам с 18.00</p>
                        <p> Более 40 основных блюд </p>
                    </div>
                    <div class="panel-footer">
                        <h3>25000 рублей</h3>
                        <h4>за курс</h4>
                        <button class="btn btn-lg" ng-click="persist()">Записаться</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel myPanel text-center">
                    <div class="panel-heading">
                        <h1>Мастер-класс</h1>
                    </div>
                    <div class="panel-body">
                        <p> Тема занятия в расписании</p>
                        <p> Длительность урока 3 часа</p>
                        <p> По средам с 18.00</p>
                        <p> Совместный ужин </p>
                    </div>
                    <div class="panel-footer">
                        <h3>1500 рублей</h3>
                        <h4>Скидка за каждый 5-й урок </h4>
                        <button class="btn btn-lg" ng-click="persist()">Записаться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
