<div class="well text-center myBg">
    <h2>Оставьте, пожалуйста, информацию о себе</h2>
    <p>На любой выбранный Вами мастер-класс мы просим Вас сделать <strong>предоплату 50%</strong>. Оплату Базового курса можно
        разбить на 3 платежа, но первый платеж нужно сделать за 3 дня до начала курса. Заполните свои данные и нажимайте
        на "Сохранить". Справа Вы видите номер карты Сбербанка, на которую можно сделать платеж. Как только поступят деньги,
        мы отправим Вам ответное сообщение</p>
</div>
<br>
<br>
<div class="container-fluid myBg">
    <div class="row">
        <div class="col-sm-8">
          <form class="form-horizontal" role="form" name="userForm" novalidate>
                
                                <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid }">
                                    <label for="firstName" class="col-sm-2 control-label">First Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" ng-model="formInfo.firstName"
                                            ng-minlength="3" ng-maxlength="12" required>
                                    </div>
                                    <div class="help-block" ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched">
                                            <p ng-message="minlength">Your name is too short.</p>
                                            <p ng-message="maxlength">Your name is too long.</p>
                                            <p ng-message="required">Your name is required.</p>
                                          </div>
                                </div>
                
                                <div class="form-group" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid }">
                                    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name = "lastName" id="lastName" placeholder="Last Name" class="form-control" ng-model="formInfo.lastName"
                                        ng-minlength="3" ng-maxlength="15" required>
                                    </div>
                                    <div class="help-block" ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched">
                                            <p ng-message="minlength">Your Last Name is too short.</p>
                                            <p ng-message="maxlength">Your Last Name is too long.</p>
                                            <p ng-message="required">Your Last Name is required.</p>
                                          </div>
                                </div>
                
                                <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                                    <label for="email" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" name = "email" id="email" placeholder="Email" class="form-control" ng-model="formInfo.email"
                                        ng-minlength="5" ng-maxlength="20" required>
                                    </div>
                                    <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                                            <div ng-messages-include="app/newUser/messages.html"></div>
                                          </div>
                
                                </div>
                
                                
                
                                <div class="form-group" ng-class="{ 'has-error': userForm.tel.$touched && userForm.tel.$invalid }">
                                    <label for="phone" class="col-sm-2 control-label">Phone Number</label>
                                    <div class="col-sm-10">
                                        <input type="tel" id="phone" name = "tel" placeholder="Phone number" class="form-control" ng-model="formInfo.phone"
                                        ng-minlength="7" ng-maxlength="12" required>
                                    </div>
                                    <div class="help-block" ng-messages="userForm.tel.$error" ng-if="userForm.tel.$touched">
                                            <p ng-message="minlength">Your phone is too short.</p>
                                            <p ng-message="maxlength">Your phone is too long.</p>
                                            <p ng-message="required">Your phone is required.</p>
                                          </div>
                                </div>
                
                
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <button type="reset" class="btn btn-default btn-lg myBtn btn-block">Очистить</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div data-toggle="modal" data-target="#thanks">
                
                                                <button type="submit" class="btn btn-default btn-lg myBtn btn-block" click-once ng-click="saveUser()">Сохранить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </form> 
        </div>
        
        <div class="col-sm-4">
            <p><strong>Номер карты Сбербанка для оплаты курса или мастер-класса</strong></p>
            <p>0000 1111 2222 3333 4444</p>
            <p>Ким Елена Леонидовна</p>
        </div>
    </div>
</div>
