<div class = "text-center">
<div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()">&times;</button>
        
     </div>
      
      <div class="modal-body">
            <span class="glyphicon glyphicon-ok-circle logo-big"></span>
            <p> Thank you! </p>
    
      </div>

      <div class="modal-footer">
            <button class="btn btn-default myBtn" ng-click="dismiss()" id="closeBtn">Ok</button>
            
             
      </div>
</div>