
    <div class="modal-header">
    <br><h4 class="modal-title text-center">Спешите записаться в очередную группу!</h4>    
    <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()">&times;</button>
    
 </div>
  
  <div class="modal-body">
    <img src = "photos/school/12.jpg" class="img-responsive" alt="Image"> 
    <ul>
        <li>15 занятий с теоретической частью и практикой</li>
        <li>Cотни "живых" советов от профессионала</li>
        <li>Вы научитесь готовить блюда, которые будут постоянными на Вашей кухне</li>
        <li>Вы поймете, как выбирать мясо, рыбу, и другие продукты, и что с ними делать дальше</li>
        <li>Вы, наконец, перестанете бояться печь!</li>
    </ul>

  </div>
  <div class="modal-footer">
        <a href="#!classes" class="btn btn-default" ng-click="dismiss()" id="closeBtn">Закрыть</a>
        <!-- TO DO Button must refer to profile -->
        <button class="btn btn-default btn-lg myBtn" ng-click="persist()">Записаться</a> 
         
  </div>


 